* {
    margin: 0;
}
body {
    background-color: #E3E2DE;
}
.logo {
  display: flex;
  align-items: center;
  height: 13%;
  position: absolute;
  z-index: 2;
  margin-left: 6px;
}
.navbar {
    display: flex;
    background-color: #A9143C;
    padding: 40px;
    /* position: relative; */
    gap: 50px;
    position: relative;
    border-bottom-style: double;
    color: white;
  }
  .navbar a {
    text-decoration: none;
    width: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    margin-left: 240px;
    font-weight: 700;
    color: #E3E2DE;
  }
  .navbar a:hover {
    color: white;
    transition: 0.8;
  }
  .background {
    width: 100%;
    opacity: 90%;
  }
  .firstsec h1 {
    color: #ffec00;
    display: flex;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
  }
  .firstsec h2 {
    color: #ffec00;
    display: flex;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
  }
  .firsth {
    /* top: 70px; */
    font-family: rockwell;
    font-size: 45px;
    font-weight: 700;
  }
  .secondh {
    /* left: 130px; */
    font-family: rockwell;
    font-size: 45px;
    font-weight: 700;
  }
  .img {
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: absolute;
    padding: 40px;
  }
  .pic {
    width: 200px;
    border-style: double;
    border-radius: 360px;
    border-color: white;
    border-width: 3px;
  }
  .aboutmikael {
    border-top-style: double;
    border-color: white;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .info h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-top: 80px;
    font-family: rockwell;
    font-size: 40px;
  }
  .info h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-top: 10px;
    font-family: rockwell;
  }
  .info h2 a {
    color: black;
    margin-left: 8px;
    margin-right: 8px;
  }
  .bk2 {
    width: 100%;
    opacity: 0.9;
  }
  .secondsec {
    padding-top: 120px;
  }
  .wm{
    height: 150px;
    width: 190px;
  }
  .m1 {
    height: 150px;
    width: 190px;
  }
  .m2 {
    height: 150px;
    width: 190px;
  }
  .bk2 {
    position: absolute;
  }
  .secondsec h1 {
    color: #ffec00;
    display: flex;
    position: relative;
    font-family: rockwell;
    justify-content: center;
    align-items: center;
  }
  .secondsec h2 {
    color: #ffec00;
    position: relative;
    font-family: rockwell;
    display: flex;
    justify-content: center;
    text-align: center;
  }