* {
    margin: 0;
}
body {
    background-color: #E3E2DE;
}
.logo {
  display: flex;
  align-items: center;
  height: 13%;
  position: absolute;
  z-index: 2;
  margin-left: 6px;
}
.navbar {
    display: flex;
    background-color: #A9143C;
    padding: 40px;
    /* position: relative; */
    gap: 50px;
    position: relative;
    border-bottom-style: double;
    color: white;
  }
  .navbar a {
    text-decoration: none;
    width: 20%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    margin-left: 240px;
    font-weight: 700;
    color: #E3E2DE;
  }
  .navbar a:hover {
    color: white;
    transition: 0.8;
  }
  .background {
    width: 100%;
    opacity: 90%;
  }
  .firstsec h1 {
    color: #ffec00;
    display: flex;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80%;
  }
  .firstsec h2 {
    color: #ffec00;
    display: flex;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 95%;
  }
  .firsth {
    /* top: 70px; */
    font-family: rockwell;
    font-size: 65px;
    font-weight: 700;
  }
  .secondh {
    /* left: 130px; */
    font-family: rockwell;
    font-size: 65px;
    font-weight: 700;
  }
  .img {
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: absolute;
    padding: 40px;
  }
  .pic {
    width: 200px;
    border-style: double;
    border-radius: 360px;
    border-color: white;
    border-width: 3px;
  }
  .aboutmikael {
    border-top-style: double;
    border-color: white;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .info h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-top: 80px;
    font-family: rockwell;
    font-size: 40px;
  }
  .info p {
    /* display: flex; */
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: rockwell;
    font-weight: 550;
    text-align: center;
  }
  .info p a {
    color: black;
    margin-left: 8px;
    margin-right: 8px;
  }
  .bk2 {
    width: 100%;
    opacity: 0.9;
  }
  .secondsec {
    padding-top: 120px;
  }
  .wm{
    height: 150px;
    width: 190px;
  }
  .m1 {
    height: 150px;
    width: 190px;
  }
  .m2 {
    height: 150px;
    width: 190px;
  }
  .bk2 {
    position: relative;
    opacity: 0.7;
  }
  .secondsec h1 {
    color: #ffec00;
    display: flex;
    position: absolute;
    font-family: rockwell;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 50%;
    z-index: 2;
    font-size: 50px;
  }
  .secondsec p {
    color: #ffec00;
    position: absolute;
    font-family: rockwell;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 80%;
    align-items: center;
    z-index: 2;
    font-size: 30px;
  }
  .ft {
    display: flex;
    position: relative;
    align-items: flex-end;
    font-size: 13px;
    opacity: 0.5;
  }
  .ft h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 3;
    /* margin-left: 5px; */
    font-weight: 700;
    font-size: 30px;
  }
  .ftbn {
    width: 100%;
  }

  
@media screen and (max-width:800px) {
  .logo{
    justify-content: center;
    width: 100%;
    height: auto;
    /* margin: 1% 40%; */
  }
  .navbar{
    /* width: 800px; */
    padding: 20px;
    justify-content: space-evenly;
  }

  .navbar a{
    margin-left: 10px;
    margin-top: 100px;
  }

  .info {
      margin: 70px;  }

  .firsth {
    margin-top: -119px;
    margin-left: 86px;
  }

  .secondsec h1{
    margin-top: -107px;
  }
  .secondsec p{
    margin-top: -26px;
    font-size: 20px;
  }
}


@media screen and (max-width:480px) {
  .navbar a{
    font-size: 15px;
  }
  .firsth {
    margin-top: -300px;
    margin-left: -20px;
  }
  .secondh {
    margin-top: -330px;
  }
  .info {
    margin-top: 100px;  }
  .firstsec h1 {
    font-size: 18px;
  }
  .firstsec h2 {
    font-size: 18px;
  }
  .info h1 {
    font-size: 25px;
    justify-content: center;
    width: 100%;
    margin-left: -30px;
  }
  .info p {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-left: -30px;
    
  }
  .img {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .pic {
    height: 100px;
    width: 100px;
  }
  .info {
    justify-content: center;
    width: 90%;
  }
  .secondsec h1 {
    font-size: 20px;
    margin-top: -200px;
  }
  .secondsec p {
    font-size: 15px;
    margin-top: -250px;
  }
}


@media screen and (max-width:400px) {
  

  .secondh{
    font-size: 25px;
    margin-top: -75px;
  }

  .firsth{
    font-size: 25px;
  }

  .secondsec h1{
    margin-top: -200px;
  }
  .secondsec h2{
    margin-top: -150px;
    font-size: 15px;
  }

  .info {
    margin-top: 100px;  }
  .img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
  