* {
  margin: 0;
}
body {
  background-image: url(banners/topbk.png);
  background-size: cover;
  background-repeat: repeat;
  
}
.logo {
  display: flex;
  align-items: center;
  height: 13%;
  position: absolute;
  z-index: 2;
  margin-left: 6px;
}

.navbar {
  display: flex;
  background-color: #A9143C;
  padding: 40px;
  /* position: relative; */
  gap: 50px;
  border-bottom-style: double;
  color: white;
}
.navbar a {
  text-decoration: none;
  width: 20%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 25px;
  margin-left: 200px;
  font-weight: 700;
  color: #E3E2DE;
}
.navbar a:hover {
  color: white;
  transition: 0.8;
}
#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  padding-top: 200px;
  position: absolute;
  width: 100%;
  /* left: 200px; */
}

.column{
	width: 500px;
	padding: 10px;

}

#featured{
	max-width: 700px;
	max-height: 800px;
	object-fit: cover;
	cursor: pointer;
	border: 2px double white;
  border-width: 4.5px;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px double white;
  border-width: 2.5px;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #FFEC00;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #E3E2DE;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}
.bannersleft {
  display: flex;
  justify-content: flex-start;
}
.left {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  margin: 5px;
  opacity: .8;
}
.bannerright {
  display: flex;
  justify-content: flex-end;
}
.right {
  margin: 5px;
  opacity: .8;
}
h2 {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  font-size: 52px;
  font-family: rockwell;
  font-size: 35px;
  border-top: none;
  background-color: #B2B2B2;
  opacity: 0.8;
  border-width: 4.5px;
  border-right: none;
  border-bottom: double;
  color: white;
}
.ft {
  display: flex;
  position: relative;
  align-items: flex-end;
  font-size: 13px;
  padding: 20px;
  background-color: #E3E2DE;
  opacity: 0.7;
}

.ft h1 {
  /* position: absolute; */
  z-index: 4;
  top: 135px;
  font-weight: 700;
  font-size: 30px;
}
footer {
  position: absolute;
  /* bottom: 0; */
  z-index: 4;
  top: 1000px;
  border-style: solid;
  border-right: none;
  border-left: none;
  width: 100%;
}
@media screen and (max-width:1435px) {
  #content-wrapper {
    padding-top: 170px;
  }
}




@media screen and (max-width:800px) {
  .logo{
    width: 20%;
    height: auto;
    margin: 1% 40%;
  }
  .navbar{
    width: 800px;
    padding: 20px;
  }

  .navbar a{
    margin-left: 10px;
    margin-top: 100px;
  }

  .info {
    position: relative;
  }

  .form div{
    position: relative;
    align-items: center;
    justify-content: center;
  }
  #content-wrapper {
    margin-top: -50px
  }
}
@media screen and (max-width:681px) {
  .text h2 {
    font-size: 25px;
  }
  #featured {
    width: 340px;
  }
  #slider {
    width: 225px;
    margin-left: 30px;
  }
  #content-wrapper {
    margin-left: 60px;
  }
}

@media screen and (max-width:500px) {
  .navbar{
    width: 600px;
    padding: 20px 2px;
  }

  #submit{
    width:fit-content ;
  }
}